<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ConsultMapper">
    <insert id="addConsult" parameterType="Consult" useGeneratedKeys="true" keyProperty="consultid">
        insert into trade.consults (consult, userid, datetime)
        values (#{consult},#{userid},#{datetime})
    </insert>
    
    <delete id="deleteConsult" parameterType="int">
        delete from trade.consults
        where consultid = #{consultid}
    </delete>
    
    <select id="queryAllConsult" resultType="Consult">
        select * from trade.consults
        order by datetime desc
    </select>
    
    <select id="queryConsultById" resultType="Consult">
        select * from trade.consults
        where consultid = #{consultid}
    </select>
    
    <select id="queryConsultByUserId" resultType="Consult">
        select * from trade.consults
        where userid = #{userid}
        order by datetime desc
    </select>

</mapper>