<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ItemMapper">
    <insert id="addItem" parameterType="Item" useGeneratedKeys="true" keyProperty="itemid">
        insert into trade.items (itemname, schoolzone, type, detail, price, host, datetime)
        values (#{itemname},#{schoolzone},#{type},#{detail},#{price},#{host},#{datetime})
    </insert>
    
    <delete id="deleteItem" parameterType="int">
        delete from trade.items where itemid = #{itemid}
    </delete>
    
    <update id="updateItem" parameterType="Item">
        update trade.items
        set itemname = #{itemname},schoolzone=#{schoolzone},type=#{type},detail = #{detail},price = #{price},datetime=#{datetime}
        where itemid = #{itemid}
    </update>
    
    <select id="queryItemByAllName" resultType="Item">
        select * from trade.items
        where itemname = #{itemname}
    </select>
    
    <select id="queryItemByName" resultType="Item">
        select * from trade.items
        where itemname like concat('%',#{itemname},'%')
    </select>
    
    <select id="queryItemByType" resultType="Item">
        select * from trade.items
        where schoolzone = #{schoolzone}
    </select>
    
    <select id="queryAllItem" resultType="Item">
        select * from trade.items
    </select>
    
    <select id="queryItemById" resultType="Item">
        select * from trade.items
        where itemid = #{itemid}
    </select>
    
    <select id="queryItemByHost" resultType="Item">
        select * from  trade.items
        where host = #{host}
    </select>
</mapper>