<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.RequireItemMapper">
    <insert id="addRequireItem" parameterType="RequireItem" useGeneratedKeys="true" keyProperty="ritemid">
        insert into trade.requires (ritemname, price, schoolzone, date, host)
        values (#{ritemname},#{price},#{schoolzone},#{date},#{host})
    </insert>
    
    <delete id="deleteRequireItem" parameterType="int">
        delete from trade.requires where ritemid = #{ritemid}
    </delete>
    
    <update id="updateRequireItem" parameterType="RequireItem">
        update trade.requires
        set ritemname = #{ritemname},price = #{price},schoolzone = #{schoolzone},date = #{date}
        where ritemid = #{ritemid}
    </update>
    
    <select id="queryRequireItemByName" resultType="RequireItem">
        select * from trade.requires
        where ritemname like concat('%',#{ritemname},'%')
        order by date desc
    </select>
    
    <select id="queryRequireItemByHost" resultType="RequireItem">
        select * from trade.requires
        where host = #{host}
        order by date desc
    </select>
    
    <select id="queryRequireItemByZone" resultType="RequireItem">
        select * from trade.requires
        where schoolzone = #{schoolzone}
        order by date desc
    </select>
    
    <select id="queryAllRequireItem" resultType="RequireItem">
        select * from trade.requires
        order by date desc
    </select>
    
    <select id="queryRequireItemById" resultType="RequireItem">
        select * from trade.requires
        where ritemid = #{ritemid}
    </select>
    
</mapper>