<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.ShoppingCartMapper">
    <insert id="addShoppingCart" parameterType="ShoppingCart" useGeneratedKeys="true" keyProperty="shoppingcartid">
        insert into trade.shoppingcart (userid, itemid, date)
        values (#{userid},#{itemid},#{date})
    </insert>
    
    <delete id="deleteShoppingCart" parameterType="int">
        delete from trade.shoppingcart where shoppingcartid = #{shoppingcartid}
    </delete>
    
    <delete id="deleteShoppingCartByItemId" parameterType="int">
        delete from trade.shoppingcart where itemid = #{itemid}
    </delete>
    
    <delete id="deleteShoppingCartByItemIdAndUserId">
        delete from trade.shoppingcart
        where itemid = #{itemId} and userid = #{userId}
    </delete>
    
    <select id="queryShoppingCartById" resultType="ShoppingCart">
        select * from trade.shoppingcart
        where shoppingcartid = #{shoppingcartid}
    </select>
    
    <select id="queryShoppingCartByUserId" resultType="ShoppingCart">
        select * from trade.shoppingcart
        where userid = #{userid}
        order by date desc
    </select>

</mapper>