<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>福新集市</title>
    <link rel="shortcut icon" type="image/x-icon"  href="../img/logo(1).png"></link>
    <link rel="stylesheet" href="../css/personal/other.css">
    <link rel="stylesheet" href="../css/home_page/index.css">
</head>
<!-- 侧边栏实现 -->
<body id="body-pd">
    <div class="l-navbar" id="navbar">
        <nav class="nav">
            <div>
                <div class="nav_brand">
                    <ion-icon name="list-circle-outline" class="nav_toggle" id="nav-toggle"></ion-icon>
                    <a href="#" class="nav_logo">福新集市</a>
                </div>
                <div class="nav_list">
                    <div class="nav_link collapse">
                        <ion-icon name="storefront-outline" class="nav_icon"></ion-icon>
                        
                        <span class="nav_name">
                            <a href="headpicture.html" target="_self" style="color:aliceblue">主页</a>
                        </span>
                        <ion-icon name="chevron-down-outline" class="collapse__link" ></ion-icon>
                        <ul class="collapse_menu">
                            <a href="headpicture.html" target="_self" style="color:aliceblue" class="collapse__sublink">出售商品</a>
                            <a href="headpicture.html" target="_self" style="color:aliceblue" class="collapse__sublink">求购商品</a>
                        </ul>
                    </div>
                    <div class="nav_link collapse">
                        <ion-icon name="bag-add-outline" class="nav_icon" ></ion-icon>
                        <span class="nav_name"><a href="rePurchaseMs.html" target="_self" style="color:aliceblue" class="collapse__sublink">求购商品</a></span>
                        <ion-icon name="chevron-down-outline" class="collapse__link" ></ion-icon>
                        <ul class="collapse_menu">
                            <a href="rePurchaseMs.html " target="_self" style="color:aliceblue" class="collapse__sublink">发布求购信息</a>
                        </ul>
                    </div>
                    <div class="nav_link collapse">
                        <ion-icon name="bag-handle-outline" class="nav_icon" ></ion-icon>
                        <span class="nav_name"><a href="reSellMs.html" target="_self" style="color:aliceblue" class="collapse__sublink">出售商品</a></span>
                        <ion-icon name="chevron-down-outline" class="collapse__link" ></ion-icon>
                        <ul class="collapse_menu">
                            <a href="reSellMs.html" target="_self" style="color:aliceblue" class="collapse__sublink">发布出售信息</a>
                        </ul>
                    </div>
                    <a href="mycart.html" target="_self" style="color:aliceblue" class="nav_link">
                        <ion-icon name="cart-outline" class="nav_icon"></ion-icon>
                        <span class="nav_name">购物车</span>
                    </a>
                    <div class="nav_link collapse">
                        <ion-icon name="accessibility-outline" class="nav_icon" ></ion-icon>
                        <span class="nav_name"><a href="myinfo.html" target="_self" style="color:aliceblue">我的</a></span>
                        <ion-icon name="chevron-down-outline" class="collapse__link" ></ion-icon>
                        <ul class="collapse_menu">
                            <a href="myinfo.html" target="_self" style="color:aliceblue" class="collapse__sublink">个人信息</a>
                            <a href="Request.html" target="_self" style="color:aliceblue" class="collapse__sublink">商品信息</a>
                            <a href="orders.html" target="_self" style="color:aliceblue" class="collapse__sublink">商品订单</a>
                            <a href="myinfo.html" target="_self" style="color:aliceblue" class="collapse__sublink">修改密码</a>
                        </ul>
                    </div>
                    <a href="information.html" target="_self" style="color:aliceblue" class="nav_link">
                        <ion-icon name="chatbubbles-outline" class="nav_icon" ></ion-icon>
                        <span class="nav_name">通知</span>
                    </a>
                </div>
            </div>
            <div class="nav_list">
                <a href="service.html" target="_self" style="color:aliceblue" class="nav_link">
                    <ion-icon name="people-outline" class="nav_icon" ></ion-icon>
                    <span class="nav_name">客服</span>
                </a>
                <a  class="nav_link" id="logout1">
                    <ion-icon name="log-out-outline" class="nav_icon" ></ion-icon>
                    <span class="nav_name">退出登陆</span>
                </a>
            </div>
        </nav>
    </div>
    <!-- 顶部部件 -->
    <div  class="h-navbar" id = "body-head">
        <div class="head_list" id="h_bar">
            <!-- 在此处可增加顶部元素 -->
            <a href="#" class="h_link">
                <span class="h_name">他的信息</span>
            </a>
            <a class="login_link" id="logout2">
                <!-- 登陆图标 -->
                <ion-icon name="power-outline" class="nav_icon" ></ion-icon>
            </a>
        </div>
    </div>

    <div class="m-function" id = "main_body">
        <div class="m_list"  id ="m_content">
             <div href="#" class="m_head" id = "m_head_collapse" >
                <a href="#" class="m_head_l on">
                    <span class="m_name "  id="h1">他的信息</span>
                </a>
                <a href="#" class="m_head_l">
                    <span class="m_name"  id="h1" >他的求购</span>
                </a>
                <a href="#" class="m_head_l">
                    <span class="m_name"  id="h1" >他的出售</span>
                </a>
            </div>
            <div class = "m_container" id = "commodity_list">
                <ul class = "show">
                   <!--个人信息-->
                   <form class="show-info">
                      <p><img class="headportrait" src="../img/微信图片_20210313134536.jpg"></p>
                      <p><span class="label" style="color: red;">*<span style="color: black;">学号</span></span>
                          <span class="info3">032004142</span>
                      </p>
                      <p><span class="label" style="color: red;">*<span style="color: black;">电话</span></span>
                          <span class="info3">12345678911</span>
                      </p>
                      <p><span class="label" style="color: red;">*<span style="color: black;">昵称</span></span>
                          <span class="info1" id="nickname">user.name</span>
                      </p>
                      <p><span class="label" style="color: red;">*<span style="color: black;">校区</span></span>
                          <span class="info1" id="campus">user.area</span>
                      </p>
                      <p><span class="label" style="color: white;">*<span style="color: black;">简介</span></span>
                          <span class="info2" id="brief" >user.brief</span>
                      </p>
                  </form>  
                </ul>
                <ul class = "hide" id="commodity_list_qiu">
                    <!-- 商品标签示例 -->
                    <!-- <li>
                        <a class="commodity-item">
                            <div class="figure">
                                <img style = "width:150px;height:150px;"src="../../img/微信图片_20210313134536.jpg"/>
                            </div>
                            <div>
                                <span class="price">商品价格</span>
                                <span class="area">旗山</span>
                            </div>
                            <span class="desc">求购商品描述描述描述</span>
                        </a>
                    </li>    -->
                </ul>
                <ul class = "hide" id="commodity_list_chu">
                    <!-- 商品标签示例 -->
                    <!-- <li>
                        <a class="commodity-item">
                            <div class="figure">
                                <img style = "width:150px;height:150px;"src="../../img/微信图片_20210313134536.jpg"/>
                            </div>
                            <div>
                                <span class="price">商品价格</span>
                                <span class="area">旗山</span>
                            </div>
                            <span class="desc">求购商品描述描述描述</span>
                            <p class="buy">
                                <a href="#">
                                    <span>加入购物车</span>
                                </a>
                            </p>
                        </a>
                    </li>     -->
                </ul>
            </div>
            
        </div>
    </div>
    
    

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/home/other.js"></script>
    <script src="../js/home/index.js"></script>
</body>
</html>