.m-function{
  overflow-y:auto;
  overflow-x:hidden;
}
.info-box{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid gainsboro;
}
.info-title{
  font-size: medium;
  margin-left: 30px;
}
.show-info{
  margin-top: 0px;
  margin-left: 30%;
  margin-right: 20%;
  text-align: center;
  font-size: large;
}
.show-info input{
  font-size: medium;
  font-family: 'Poppins',sans-serif;
  color: black;
}
.show-info input::placeholder{
  font-size: medium;
  font-family: 'Poppins',sans-serif;
  color: black;
}
.show-info select{
  font-size: medium;
  font-family: 'Poppins',sans-serif;
  color: black;
}
.show-info textarea{
  font-size: medium;
  font-family: 'Poppins',sans-serif;
  color: black;
}
.label{
  float: left;
  height: 40px;
  line-height: 30px;
  margin-right: 20px;
}
.show-info p{
  margin: 15px;
}
.show-info img{
  width: 80px;
  height: 80px;
  border: 1px solid gray;
  border-radius: 100%;
  overflow: hidden;
  background-color: #f4f5f7;
  margin-left: 7%;
}
.info1{
  height: 40px;
  width: 300px;
  /* margin-bottom: 10px; */
  border: 2px solid gainsboro;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.info2{
  width: 300px;
  border: 2px solid gainsboro;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.confirm{
  height: 40px;
  width: 150px;
  font-size: large;
  color: white;
  background-color: #0c5df4;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.password-box{
  margin-top: 10%;
  text-align: center;
  font-size: large;
}
.pw{
  margin-bottom: 40px;
  height: 40px;
  width: 300px;
  border: 2px solid gainsboro;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.form-control{
  height: 24px;
  width: 100px;
  border: 0;
  font-size: medium;
}
.test{
  position: fixed;
  color: #000;
}